.table-container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* Style for the file upload input */
input[type="file"] {
  margin-bottom: 2rem;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the overlay is above other content */
}
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.custom-modal h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.custom-modal input {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}

.custom-modal button {
  margin-top: 10px;
  padding: 7px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.custom-modal button:hover {
  background-color: #0056b3;
}
